
<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
          <div class="card-body p-5">
            <p class="lead fw-bold mb-5" style="color: #f37a27;">Purchase Reciept</p>
            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p><%=@order.created_at%></p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>#<%=@order.id%></p>
              </div>
            </div>
            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
              <% @items.each do |item|%>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <%=link_to item.title, item_path(item), style:"color: #f37a27;"%>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <p>$<%=item.price%></p>
                  </div>
                </div>
              <%end%>
            </div>
            <div class="row my-4 fw-bold" style="color: #f37a27;">
              <div class="col-md-8 col-lg-9">
                <p>Total Price</p>
              </div>
              <div class="col-md-4 col-lg-3">
                <p>$<%=@order.total_price%></p>
              </div>
            </div>
            <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Order Status:
             <span><%=@order.status.capitalize()%></span>
            </p>
            <%if cal_date_diff(@order) == ''%>
              <h6>Status Not Updated Yet</h6>
            <%else%>
              <h6>Status Updated at: <%=cal_date_diff(@order)%></h6>
            <%end%>
            <%=link_to "Change Status",  edit_order_path(@order), class:"btn btn-outline-primary" if policy(@order).edit?%>
            <br/>
            <%=link_to "Back To Main Page", root_path, style:"color: #f37a27;"%>
            <p class="mt-4 pt-2 mb-0">Want any help? <a href="https://www.devsinc.com/" style="color: #f37a27;">Please contact us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
