<%=form_with model:@item , local: true do |form| %>
  <% if  @item.errors.any? %>
    <ul>
      <%  @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="card container my-4" style="width: 25rem;">
    <div class="card-body">
      <h3 class="card-title">Edit Item</h3>
      <div class="mb-3">
        <%= form.label :title %><br>
        <%= form.text_field :title, :required => true%>
      </div>
      <div class="mb-3">
        <%= form.label :description %><br>
        <%= form.text_area :description%>
      </div>
      <div class="mb-3">
        <%= form.label :price %><br>
        <%= form.number_field :price, :required => true%>
      </div>
      <div class="mb-3">
        <%= form.label :quantity %><br>
        <%= form.number_field :quantity, :required => true%>
      </div>
      <div class="mb-3">
        <%= form.label :retire, value: false%><br>
        <%= form.check_box :retire, :checked => @item.retire %>
      </div>
      <div class="mb-3">
        <%= form.label :avatar%><br>
        <%= form.file_field :avatar, type: 'file', accept: 'image/*' %>
      </div>
      <div class="mb-3">
        <%= form.label :category %><br>
        <%= form.select :new_category, options_from_collection_for_select(Category.all, :id, :name, select_category_id(@item)), :selected =>params[:new_category]%>
      </div>
      <%= form.submit "Update", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
