<%=form_for @category do |form| %>
  <% if  @category.errors.any? %>
    <ul>
    <%  @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
<div class="card container my-4" style="width: 25rem;">
  <div class="card-body">
    <div class="mb-3">
    <%= form.label :name %><br>
    <%= form.text_field :name, :required => true %>
   </div>
  <div class="mb-3">
    <%= form.label :avatar%><br>
    <%= form.file_field :avatar,type: 'file', accept: 'image/*' %>
  </div>
  <%= form.submit "Submit", class: "btn btn-primary" %>
</div>
<% end %>
