<div class="container-fluid">
<%=link_to "All Categories",   categories_path,  class:"btn btn-primary"%>
<%=link_to "My Cart", carts_path,  class:"btn btn-warning"%>
<% if policy(Category).new? %>
  <%=link_to "Add new Item",new_category_item_path(@category,@item) ,  class:"btn btn-primary float-right"%>
  <br my-5/>
  <h5 class="text-text-left mx-3">Total Items In Category: <span id='total-items'><%= @items.count%></span></h5>
<% end %>
<h1 class="text-center"><%= @category.name %></h1>
<br my-5/>

<%if @items&.empty?%>
  <h1>Nothing To Show</h1>
<%else%>

<%@items.each do |item|%>

<%if ((item.retire || !item.retire)  && current_user&.role == 'admin') || (!item.retire )%>
<div class="row container" id='item-show-<%=item.id.to_s%>'>
    <div class="col-md-4 my-4">
      <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
          <%=image_tag item.avatar, width: "200px" if item.avatar.attached?%>
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
      </div>
    </div>

    <div class="col-md-8 mb-4">
      <h2><%=item.title%></h2>
      <h4>$<%=item.price%></h4>
      <% if policy(Item).edit? %>
          <h5>Qty: <%=item.quantity%> </h5>
      <%end %>
      <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione
       necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam
       minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos
       magni.
       </p>
        <%=link_to "Show this Item", item_path(item),  class:"btn btn-outline-primary"%>
        <% if @cart.include?(item)%>
            <%=link_to '+', increase_item_qty_item_path(item), method: :post,  class:"btn btn-outline-success",  remote: true%>
            <%=link_to 'Remove from cart',  remove_from_cart_item_path(item), method: :delete,  class:"btn btn-outline-danger", id: 'remove-from-cart-btn-'+item.id.to_s, remote: true%>
            <%=link_to '-', decrease_item_qty_item_path(item), method: :post,  class:"btn btn-outline-dark", remote: true%>
            <span id='item-count-<%=item.id%>'><%=session[:cart][item.id.to_s]%></span>
        <% else %>
            <%=link_to "Add to cart", add_to_cart_item_path(item), method: :post,  class:"btn btn-outline-success", id: 'add-to-cart-btn-'+item.id.to_s, remote: true%>
        <% end %>
        <%=link_to "Edit this Item", edit_item_path(@category,item), method: :get, class:"btn btn-outline-warning" if policy(item).edit?%>
        <%=link_to "Destroy Item",  item_path(item),  method: :delete, class:"btn btn-outline-danger", remote: true if policy(item).destroy?%>
        <%if item.retire%>
          <%=link_to "Resume Item", resume_item_path(item), method: :post, class:"btn btn-outline-success" if policy(item).edit?%>
        <%else%>
          <%=link_to "Rertire Item", retire_item_path(item), method: :post, class:"btn btn-outline-dark" if policy(item).edit?%>
        <%end%>
      </div>
</div>
<% end %>
<%end%>
<%end%>
</div>
