<div class="mb-4">
  <nav class="navbar navbar-dark bg-dark text-white">
    <%=link_to "Dinner Dash", root_path, class:"navbar-brand mx-1"%>
    <%=link_to "Categories", categories_path, class:"nav-link"%>
    <%=link_to "My Cart", carts_path, class:"nav-link"%>
    <%if current_user&.role == 'admin' %>
      <%=link_to "All Orders",  orders_path, class:"nav-link"%>
    <%elsif current_user&.role == 'standard'%>
      <%=link_to "My orders",  orders_path, class:"nav-link"%>
    <%end%>
    <form class="form-inline">
      <% if current_user %>
        <span>
          Hello <%=current_user.dname&.capitalize()%>
        </span>
        <%=link_to "Edit Profile",  edit_user_registration_path, class:"btn btn-outline-warning"%>
        <%=link_to "Sign Out", destroy_user_session_path,  method: :delete, class:"btn btn-outline-danger mx-1"%>
      <% else %>
        <%=link_to "Sign In", new_user_session_path, class:"btn btn-outline-primary"%>
        <%=link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-success mx-1"%>
      <% end %>
    </form>
  </nav>

</div>
